



<nav class="navbar navbar-expand-lg navbar-light  bg-dark" gps_fixed>

  <div class="container">


     <button
      class="navbar-toggler"
      type="button"

      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>


    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse

    >

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" style="color:#de0114;">Sandile Online System</a>
        </li>
      </ul>


      <div class="align-itemsfa-pull-right">
        <button type="button"  class="btn btn-link px-3 me-2  text-right" routerLink="/login">
          Login
        </button>
        <button type="button" class="btn btn-link px-3 me-2  text-right" routerLink="register">
          Register
        </button>

      </div>
    </div>

  </div>

</nav>


<router-outlet></router-outlet>
