<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
</head>
<body>
<br><br>
<div class="container">
    <form #loginform="ngForm" (ngSubmit)="loginUser()" class="form-horizontal"  role="form" style="border-bottom:5px solid #ADD8E6;border-top:5px solid #ADD8E6 " >
       {{loginform.form.valid}}
        <small class="text-danger">{{msg}}</small>
        <br>
        <br>
        <h6 class="popUpText" > User Sign In </h6>
        <hr>

        <div class="form-group">
            <label for="login" class="col-sm-3 control-label">Email </label>
            <div class="col-sm-9">
                <input type="email"  placeholder="email" name="login" [(ngModel)]="user.email"  class="form-control"  required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" pattern="^\w+@[a-zA-Z_]+?\.[a-zA]{2,3}$">
               
                <!-- <small class ="text-danger" [class.d-none]="email.valid || email.untouched">email is required field</small>
          -->
                <div ngIf="email.errors && (email.invalid && email.touched)">
                     <small class="text-danger" *ngIf ="email.errors.required">email is required field</small>
                     <small class="text-danger" *ngIf ="email.errors.pattern">please enter the valid  email</small>
               </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password"  id="password" placeholder="Password" name="password" [(ngModel)]="user.password" required #password="ngModel" [class.is-valid]="password.invalid && password.touched" class="form-control" pattern="(?=.*\d)(?=.*[a-z](?=.*[A-Z]).{8,}" title="must contain at least one number and one uppercase and lowercase letter , and at least 8 or more special characters " >
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required field</small>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31"  />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
            </div>
            <div class="col">
                <a href="#!">Forgot password?</a>
            </div>
        </div>
        <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-primary btn-block ">Login</button>
        <div class="text-center">
            <p style="text-align:center;font-family:Georgia ">Don't have an account? <a href="/register">Register</a></p>

        </div>
    </form>
</div>
</body>
</html>
