<!DOCTYPE html>
<html lang="en" >

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>register</title>
    </head>
<body >

<div class="container">

    <form #registerform="ngForm" (ngSubmit)="registerUser()" class="form-horizontal"  role="form"  style="border-bottom:5px solid #ADD8E6;border-top:5px solid #ADD8E6 ">
       {{registerform.form.valid}}
        <h6 class="popUpText" >User Registration </h6>
        <hr>

        <P style="color:black;font-family:Georgia ">Please enter all the fields are required</P>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
                <input type="text"  id="firstName"  placeholder="First Name" name="firstName" [(ngModel)]="user.firstName" required #firstName="ngModel" [class.is-valid]="firstName.invalid && firstName.touched" class="form-control" autofocus>
            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">first name is required field </small>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
                <input type="text"  id="lastName"   placeholder="Last Name" name="lastName" [(ngModel)]="user.lastName" required #lastName="ngModel" [class.is-valid]="lastName.invalid && lastName.touched" class="form-control" autofocus>
                <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last name is required field </small>
            </div>
            <div class="form-group">
                <label for="login" class="col-sm-3 control-label"> Username</label>
                <div class="col-sm-9">
                    <input type="text"  id="login"  placeholder="user Name" name="login" [(ngModel)]="user.Username" required #username="ngModel" [class.is-valid]="Username.invalid && Username.touched" class="form-control" autofocus>
                    <small class="text-danger" [class.d-none]="username.valid || username.untouched">username is required field </small>
                </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email </label>
            <div class="col-sm-9">
                <input type="email"   id="email"  placeholder="Email" name="Email" required="" pattern="^\w+@[a-zA-Z_]+?\.[a-zA]{2,3}$" class="form-control" >
                
                <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">email is required field </small>
                 -->
                <div ngIf="email.errors && (email.invalid && email.touched)">
                    <small class="text-danger" *ngIf ="email.errors.required">email is required field</small>
                    <small class="text-danger" *ngIf ="email.errors.pattern">please enter the valid  email</small>
              </div>
           
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password"   id="password" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z](?=.*[A-Z]).{8,}" title="must contain at least one number and one uppercase and lowercase letter , and at least 8 or more special characters " [(ngModel)]="user.password" required #password="ngModel" [class.is-valid]="password.invalid && password.touched" class="form-control">
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required field </small>
            </div>
        </div>
       
        <div class="form-group">
            <label  class="col-sm-3 control-label">Address</label>
            <div class="col-sm-9">
                <textarea class="form-control"  id="address" name="address" [(ngModel)]="user.address" required #address="ngModel" [class.is-valid]="address.invalid && address.touched" rows="4"></textarea>
                <small class="text-danger" [class.d-none]="address.valid || address.untouched">password is required field </small>
            </div>
        </div>

        <div class="form-group">
            <label for="Height" class="col-sm-3 control-label">phone Number </label>
            <div class="col-sm-9">
                <input type="number"  id="height"  [(ngModel)]="user.phoneNumber" required #phoneNumber="ngModel" [class.is-valid]="phoneNumber.invalid && phoneNumber.touched" name="phoneNumber" class="form-control">
                <small class="text-danger" [class.d-none]="phoneNumber.invalid && phoneNumber.touched">phone number is required field </small>
            </div>
        </div>
        <button [disabled]=registerform.form.invalid type="submit" onclick="password_validate()" class="btn btn-primary btn-block">Register</button>
            <p  style="text-align:center;font-family:Georgia ">Have  an account already? <a href="login" class="fw-bold text-body"><u>Login here</u></a></p></div>
    </form>
</div>
</body>


</html>
